<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Auction-online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<header th:insert="blocks/header :: header"></header>
<body>
<div id="wrapper">
    <h1>Users</h1>
    <table class="table" align="center">
        <thead class="thead-dark" align="center">
        <tr>
            <th scope="col">id</th>
            <th scope="col">UserName</th>
            <th scope="col">Adress</th>
            <th scope="col">Login</th>
            <th scope="col">Bid List</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr th:each="el : ${users}">
            <td th:text="${el.id}"/>
            <td th:text="${el.name}"/>
            <td th:text="${el.adress}"/>
            <td th:text="${el.login}"/>
            <td>
                <form th:action="@{/users}" method="post">
                    <input type="hidden" name="userId" th:value="${el.id}">
                    <button type="submit" class="btn btn-success">ShowUserBids</button>
                </form>
            <td><a th:href="'/user/' + ${el.id}" class="btn btn-warning">Details</a><br><br></td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

