<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5" align="center">
    <div class="alert alert-info mt-2">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Login : <input type="text" name="username" class="form-control"/> </label></div>
            <div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </div>
</div>
<div align="center">
    <a href="/registration">Add New User</a>
</div>
</body>
</html>