<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Auction-online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<header th:insert="blocks/header :: header"></header>
<body>
<div id="wrapper">
    <h1 th:text = "${product.productName}"/>
    <div class="container mt-5">
        <div class="alert alert-info mt-2">
            <form th:action="'/product/' + ${product.uid} + '/save'" method="post">

                <label>Product name</label>
                <input type="text" name="productName" th:value="${product.productName}"><br>
                <label>Description</label>
                <textarea th:text="${product.description}" name="description" th:value="${product.description}"></textarea><br>
                <label>startPrice</label>
                <input type="text" name="startPrice" th:value="${product.startPrice}"><br>
                <label>rateStep</label>
                <input type="text" name="rateStep" th:value="${product.rateStep}"><br>
                <button type="submit" class="btn btn-warning">Save</button>
            </form><br>
            <form th:action="'/product/' + ${product.uid} + '/delete'" method="post">
                <button type="submit" class="btn btn-warning">Delete</button>
            </form><br>
        </div>
    </div>
</div>
</body>
</html>