<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Auction-online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<header th:insert="blocks/header :: header"></header>
<body>
<div id="wrapper">
    <h1 th:text="${userLogin}"/>
    <table class="table" align="center">
        <thead class="thead-dark" align="center">
        <tr>
            <th scope="col">bid_id</th>
            <th scope="col">product_id</th>
            <th scope="col">user_id</th>
            <th scope="col">price</th>
            <th scope="col">product_name</th>
            <th scope="col">description</th>

        </tr>
        </thead>
        <tbody align="center">
        <tr th:each="el : ${userBids}">
            <td th:text="${el.bidId}"/>
            <td th:text="${el.productId}"/>
            <td th:text="${el.userId}"/>
            <td th:text="${el.price}"/>
            <td th:text="${el.productName}"/>
            <td th:text="${el.description}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>